.profile__image {
  background-size: cover;
  background-position: center;
  /* background-image: url('../../../images/avatar.jpg'); */
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
  border-radius: inherit;
  width: 120px;
  height: 120px;
}

.profile__image:hover {
  cursor: pointer;
  opacity: 0.2;
}
